<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent" stopProcessing="true">
          <match url="public" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="ReleaseContent" stopProcessing="true">
          <match url="release" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="ImageContent" stopProcessing="true">
          <match url="img" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="CSSContent" stopProcessing="true">
          <match url="css" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="SlidesContent" stopProcessing="true">
          <match url="slides" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:05:00" />
        <add extension=".ico" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
        <add extension=".json" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
      </profiles>
    </caching>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>