!!!
html
  head
    link(rel='stylesheet', href='/css/main.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='SQL Server Express NodeJS Modules Testing.')
    base(href='/')
    title SQL Server Express NodeJS Modules Testing 
  body
    block body
    | <script src="/js/main.js"></script>
